/* General styles */
* {
    box-sizing: border-box;
}

body {
    margin-top: 14px;
}

.padding { 
    padding: 0 20px ;
}

.section {
    width: 100%;
}

.section__content {
    max-width: 1200px;
    width: 100%;
}
.discover__content{
    max-width: 1040px;
    width: 100%;
    gap: 80px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.heading__color--dark {
    color: #343D33;
}

.heading__color--light {
    color: #FFFFFF;
} 

.dark__bg {
    background-color: #343D33;
}

.light__bg {
    background-color: #FFFFFF;
}

.copywright__bg {
    background-color: #414840;
}

.navigation-color {
    color: #475F45;
}

.button {
    border: 2px solid #475F45;
    padding: 15px 30px;
}

.button:hover {
    background-color: #475F45;
    color: #FFFFFF;
}
.border-padding{
    padding-bottom: 20px;
}
.padding-top{
    padding-top: 20px;
}
.updates-gap{
    gap: 50px;
}
.news__height{
    height: 860px;
}




/* typography */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    font-size: 45px;
    font-weight: 400;
}

.button--gap{
    gap: 16px;
}

.banner__gap{
    gap: 32px;
}
.white-font{
    color: #FFFFFF;
}

/* header */

.navigation {
    color: #475F45;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
    gap: 40px;
}

.burger__menu {
    display: none;
}

/* banner section */

.hover__button {
    all: unset;
    padding: 20px 40px;
    border: 2px solid #475F45;
    font-size: 14px;
    font-weight: 700;
    color: #343D33;
    letter-spacing: 2.1px;
}

.hover__button:hover {
    background-color: #475F45;
    color: #FFFFFF;
}

.main__header {
    max-width: 528px;
    color: #343D33;
}

.main__text {
    max-width: 471px;
    color: #475F45;
}

.banner-img {
    border-radius: 500px 500px 0px 0px;
    border: 4px solid  #343d3352;
    padding: 5px;
}

.banner__margin {
    margin-top: 56px;
    margin-bottom: 115px;
}

/* discover section */

.bg-image {
    background-image: url(./images/plant\ accent.svg);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;

}

.bg__height {
    height: 1100px;
}
.learn-more__button{
    all: unset;
    padding: 20px 40px;
    border: 2px solid #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}
.learn-more__button:hover{
    color: #343D33;
    background-color: #FFFFFF;

}
.discover__text{
    max-width: 401px;
    line-height: 30px;
}
.discover__gap{
    gap: 90px;
}

/* news section */

.news-bg{
    background-image: url(./images/Frame.svg);
    background-repeat: no-repeat;
    background-position: right top -180px;
}
.news-gap{
    gap: 12px;
}
.news__heading--font{
    font-size: 14px;
    color: #475F45;
    font-weight: 700;
    letter-spacing: 2.1px;
}
.news__heading{
    color: #343D33;

}
.news-main__Description{
    max-width: 519px;
}
.news__margin{
    margin-top: 48px;
}
.news-main-gap{
    gap: 20px;
}
.News__heading--color{
    font-size: 23px;
    color: #475F45;
    font-weight: 700;
}
.news__text--color{
    color: #343D33;
    font-weight: 400;
}
.italic{
    font-style: italic;
}
.text-width{
    max-width: 354px;
    line-height: 24px;
}
.border-top{
    border-top: 1px solid #C4C4C4;
}








@media screen and (max-width: 1179px){
    .news__height{
        height: 1250px;
    }
    .plants-blog{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
 
}

@media screen and (max-width: 1025px){
    .navigation{
        display: none;
    }
  
    .burger__menu {
        display: block;
    }
    .plant-img{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .responsive_center{
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 20px;

    }
    .news__height{
        height: 1250px;
    }
    .main__image{
        width: 392px;
    }
    .italic{
        text-align: center;
      }
   
}

@media screen and (max-width: 916px){
    .responsive__banner--gap {
        margin-top: 65px;
    }

    .navigation{
        display: none;
    }

    .banner__margin{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo{
        width: 215px;
    }

    .banner-img{
        width: 377px;
    }

    .banner__margin{
        gap: 25px;
    }
    .plant-img{
        justify-content: center;
        align-items: center;
    }
    .responsive_center{
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 20px;
    }
    .plants-blog{
        display: flex;
        flex-direction: column;
    }
    .news__height{
        height: 1700px;
    }
    .enviroment{
        width: 392px;
    }
    .italic{
        text-align: center;
      }
}

@media screen and (max-width: 430px){
 

    .banner-img{
        width: 254px;
    }
    .plant-img{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .responsive_center{
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .news__height{
        height: 1700px;
    }
    .enviroment{
        width: 310px;
    }
  .italic{
    text-align: center;
  }
}



